<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19527378930-6a0m012n894dq7ne4tnb2gkppgqe4thj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19527378930-6a0m012n894dq7ne4tnb2gkppgqe4thj</string>
	<key>API_KEY</key>
	<string>AIzaSyAY7uvcccC5kQg4iCGLz2zop3VbwAcJBaI</string>
	<key>GCM_SENDER_ID</key>
	<string>19527378930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.courts</string>
	<key>PROJECT_ID</key>
	<string>letsplay-5a9c4</string>
	<key>STORAGE_BUCKET</key>
	<string>letsplay-5a9c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19527378930:ios:18ded7459d0d23b9126d6b</string>
</dict>
</plist>